.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2.5rem

.nav
  display: flex
  align-items: center
  justify-content: space-between
  gap: 1.5625rem

.active
  position: relative
  width: max-content
  &::after
    content: ""
    position: absolute
    width: 50%
    bottom: 2px
    right: 0
    z-index: -1
    bottom: 1px
    border-top: 4px solid #33B7BC
    border-right: 3px solid #000
  &::before
    content: ""
    position: absolute
    width: 50%
    bottom: 2px
    left: 0
    z-index: -1
    bottom: 1px
    border-bottom: 4px solid #33B7BC
    border-left: 3px solid #000

.dropDownWrap
  transition: .6s all
  position: relative
  > button
    border: none
    background: none
    display: flex
    align-items: center
    text-transform: uppercase
    font-weight: 700
    text-align: left
    gap: .625rem
    width: max-content
    cursor: pointer

.menu
  transition: .5s all
  overflow: hidden
  position: absolute
  height: 0
  padding: 1.5625rem
  padding-bottom: 0
  padding-top: 0
  left: -0.625rem
  top: 2.5rem
  width: max-content
  display: flex
  flex-direction: column
  gap: .9375rem
  border: 2px solid #000000
  border-radius: .75rem
  > span
    cursor: pointer
  > hr
    border: none
    height: .125rem !important
    width: 100%
    background: #323232

.activeDropDown
  height: 31.25rem
  border: 2px solid #323232
  padding: 1.5625rem
  z-index: 99

.arrow
  transition: .5s all

.arActive
  transform: rotate(180deg)
