.wrap {
  background: url("/img/card-adaptive.png") no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  animation: myAnim 0.5s ease-in-out 0s 1 normal forwards;
  flex-direction: column;
  > hr {
    position: absolute;
    left: 0;
    border: none;
    height: 2px;
    width: 100%;
    background: #272727;
    bottom: 155px;
  }
}
@keyframes myAnim {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}

.container {
  max-width: 1600px;
  margin-left: auto;
}

.wrap {
  &_telega {
    position: relative;
    width: max-content;
    &::after {
      content: "";
      background: transparent;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      top: -4px;
      transition: 0.5s all;
      left: -4px;
      z-index: -1;
      position: absolute;
    }
    &::before {
      content: "";
      background: transparent;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      top: -7px;
      left: -7px;
      transition: 0.5s all;
      z-index: -1;
      position: absolute;
    }
    &:hover {
      &::after {
        background: #34a9df88;
      }
      &::before {
        background: #34a9df4d;
      }
    }
  }
  &_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5625rem;
  }
}

.content {
  position: absolute;
  bottom: 25px;
  left: 13.625rem;
  width: 88%;
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-size: 34px;
  }
  p {
    font-size: 24px;
    color: #76828c;
    font-weight: 350;
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  position: absolute;
  left: 13.625rem;
  top: 20%;
  a {
    display: inline-block;
    width: max-content;
  }
}

.telegram {
  font-size: 47px;
  fill: #fff;
  background: #34aadf;
  padding: 13px;
  position: relative;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    display: inline-block;
    background: #34aadf;
    border-radius: 50%;
  }
}

.font {
  font-size: 54px;
}
