.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5625rem;
  font-weight: 500;
}
.logo {
  z-index: 99;
}
.dropDown {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

@media screen and (max-width: 56.875rem) {
  .nav {
    > a {
      display: none;
    }
  }
  .dropDown {
    display: none;
  }
}
