.btn {
  border: none;
  text-transform: uppercase;
  outline: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  &__primary {
    background: #33b7bc;
    transition: 0.5s all;
    &:hover {
      box-shadow: 0px 0px 20px #245c5f;
    }
  }
  &__secondary {
    border: 1px solid #33b7bc;
    transition: 0.5s all;
    color: #33b7bc;
    &:hover {
      background: #33b7bc;
      color: #fff;
      box-shadow: 0px 0px 20px #245c5f;
    }
  }
}
